@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Shadows Into Light', cursive;
  word-spacing: 2px;
  letter-spacing: 1px;

}

.bold {
    font-weight: bold;
}

.white-font {
    color: #ffffff;
}

.black-font {
    color: #000000;
}

.orange-bg {
    background-color: #ff7f50;
}

.green-bg {
    background-color: #b8e994;
}

.no-task-alert {
    float: right;
    margin: 0 auto;
    font-weight: bold;
    font-size: 30px;
    opacity: 0.7;
    border-radius: 5px;
    margin: 80px 350px 0 0;
    padding: 80px;
}

.dark-mode {
    background-color: white;
    color: black;
 }

 .light-mode {
    background-color: black;
    color: white;
 }




